.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.image-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.active-sidebar {
  background-color: red;
}

.carousel-image {
  width: 100%;
  height: 450px; /* Set the desired height here */
  object-fit: cover;
  filter: brightness(70%);
}

.video-container {
  width: 100%;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%; /* Adjust this value based on the desired aspect ratio (16:9 in this example) */
}

.video-player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover; /* Adjust this property based on your preference */
}

/* Optional: Adjust the height for smaller screens if needed */
@media (max-width: 768px) {
  .carousel-image {
    height: 200px; /* Set a different height for smaller screens */
  }
}

/* recommended section */
.card-container {
  display: flex;
  justify-content: space-between;
}

/* footer */
a {
  text-decoration: none;
}

.search-input::placeholder {
  color: #000 !important; /* Change the color to your desired value */
}

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; 
  border-radius: 50%;
} */
/* .carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: blue;
} */
/* .carousel-control-prev,
.carousel-control-next {
  width: 10%;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  opacity: 0.8;
} */

/* .carousel-control-next {
  right: 8%;
} */

/* .carousel-control-prev {
  left: 8%;
} */

/* instructor  */
.inst-img {
  height: auto; /* Set height to auto to maintain aspect ratio */
  max-width: 100%; /* Scale the image within its container */
  border-radius: 2%;
  object-fit: cover;
}
/* Footer  */
/* Set the default link color to light gray (or any other color you prefer) */
.footer a {
  color: #ccc;
  text-decoration: none;
}

/* Change link color on hover */
.footer a:hover {
  color: #fff; /* Set the desired color for the links on hover */
}

/* Add style for active link (optional) */
.footer a.active {
  color: #fff; /* Set the desired color for the active link */
  text-decoration: underline; /* Add underline to the active link if desired */
}

.notFound-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Utilis */
.pointer {
  cursor: pointer;
}

.hover:hover {
  background-color: #ccc;
}

#inst-course-table-dropdown::after {
  display: none;
}

@media (max-width: 768px) {
  .authWidth {
    width: 100% !important;
    padding: 20px;
  }
}
